/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
/*{margin: 0;}*/
body {font-family: "Helvetica", Arial;
	color: #1C1F1B;
	min-height: 100%;
	background: #071f0f;
}

header{
	background: #276920;
	border-bottom: 3px solid #252E24;
	color: #1A1F1A;
}

header ul li{
	list-style: none;
}

h1{
	font-size: 72px;
	font-family: Impact;
}

nav ul li{
	display: inline;
	list-style: none;
	margin-left: 10px;
}



footer {
	border-top: 3px solid #252E24;
	height: 200px;
	line-height: 50px;
	text-align: center;
	color: #1C1F1B;
	

	background-image: linear-gradient(bottom, rgb(7,31,15) 26%, rgb(30,102,41) 100%);
	background-image: -o-linear-gradient(bottom, rgb(7,31,15) 26%, rgb(30,102,41) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(7,31,15) 26%, rgb(30,102,41) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(7,31,15) 26%, rgb(30,102,41) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(7,31,15) 26%, rgb(30,102,41) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.26, rgb(7,31,15)),
		color-stop(1, rgb(30,102,41))
	);

}

h2{
	font-size: 24px;
}
h3{ 
	font-size: 24px;
}
.post{
	border: 1px solid #6B736B;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	background: #858C84;
}

.cabecalhopost{
	background: #A4A8A3;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #828A81;
}

.conteudopost{
	background: #A4A8A3;
	border-radius: 5px;
	border: 1px solid #828A81;
	padding: 5px;
}

.body a {
	color: #35732A;
}

.about{
	border: 1px solid #6B736B;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	background: #858C84;
}

.inabout{
	background: #A4A8A3;
	border-radius: 5px;
	border: 1px solid #828A81;
	padding: 5px;
}

.container{
	;
}

.header{

}

nav{
	background: #252E24;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav a{
	font-family: Impact;
	font-size: 24px;

}

.header a{
	color: #1E3B19;
	font-size: 15px;
	height: 58px;
}

.superbody{
	background: #494949;	
}

.body{
	background:#737D72;
	box-shadow: 0 5px 0 5px #414241;
	padding-top: 10px;

}
.footer{
	color:black;
}